

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mt-5">

  <form (ngSubmit)="onSearchByTitle()" class="navbar-form">
    <div class="form-group">
      <input type="text" name="searcyByTitle" [(ngModel)]="keyword" class="form-control" placeholder="Search By Name...." />
    </div>
  </form>
</div>

<div class="container">

  <div class="row" >
       <div class="col-md-4"  *ngFor=" let product of productList">
         <div class="card shadow-sm">
            <div class="row">
                 <div class="col-md-6">
                   <a (click)="getDetailProduct(product)"> <img src="{{product.imageUrl}}}" alt=""></a>
                 </div>
                <div class="col-md-6 p-2">
                    <p>{{product.productName}}</p>
                    <p>For : {{product.targetSize}}</p>
                  <p class="display-5"> {{product.price | currency:' MMK '}}</p>
                  <p><button mat-button class="text-secondary"  (click)="getDetailProduct(product)"> View </button></p>
                </div>

            </div>
         </div>
       </div>
  </div>
</div>




